<h3> ZOO index</h3>
<!-- <p>
   Animals coming soon!
</p> -->

<% @animals.each do |animal| %>
  <div class="animal">
  <strong><%= link_to animal.name, animal_path(animal.id)%></strong> 
  </div>

  <% end %>
