<h3> ZOO index</h3>
<!-- <p>
   Animals coming soon!
</p> -->

<% @animals.each do |animal| %>
  <div class="animal">
  <strong><%= animal.name%></strong> is a
  <%= animal.species %> and is <%= animal.age %> years old.
  </div>

  <% end %>
